# Taller de procesamiento de BigData en Spark + R
Manuel Parra (manuelparra@decsai.ugr.es). <a href="http://sci2s.ugr.es/es">Soft Computing and Intelligent Information Systems</a>
. <a href="http://sci2s.ugr.es/dicits/">Distributed Computational Intelligence and Time Series</a>. **University of Granada**.
![logos](https://sites.google.com/site/manuparra/home/header.png)

## Soluciones

<HR>
<div style="font-family:helvetica;padding:5px;font-size:1.5em;background-color:#CFE7E2">Ejercicio práctico:</div>

Crea una SparkDataDrame que se llame ``sql_nyc`` y que tenga una nueva columna que calcule el tiempo de cada viaje en segundos; llama a esa nueva columna ``trip_time`` y contenga los campos: ``VendorID``, ``passenger_count``,``trip_distance``,``total_amount```

Pista: INT(unix_timestamp(tpep_dropoff_datetime)- unix_timestamp(tpep_pickup_datetime))

** Necesitamos ese SparkDataFrame para poder seguir con los ejemplos siguientes **
<HR>

In [ ]:
results <- sql("select hour(tpep_pickup_datetime)  as hourpick , 
                            INT(unix_timestamp(tpep_dropoff_datetime)-unix_timestamp(tpep_pickup_datetime))  as timetrip
                            from slqdf_filtered_nyc")

createOrReplaceTempView(results,"hoursday")

res <- sql("select hourpick,avg(timetrip)/60.0 as avgtrip from hoursday group by hourpick order by hourpick ASC")

dframeR <- collect(res)

library(ggplot2)
ggplot(data=dframeR, aes(x=hourpick, y=avgtrip)) +
    geom_line() + scale_x_continuous(  breaks = c(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23))+ 
    geom_point()

<HR>
<div style="font-family:helvetica;padding:5px;font-size:1.5em;background-color:#CFE7E2">Ejercicio práctico:</div>

Compara la media del tiempo de viaje por hora del día e imprime el gráfico resultante.

<HR>

In [ ]:
# Hacemos una selección de los registros, donde calculamos el tiempo del viaje de cada viaje
sql_nyc <- sql("select VendorID,INT(unix_timestamp(tpep_dropoff_datetime)- unix_timestamp(tpep_pickup_datetime)) AS trip_time,passenger_count,trip_distance,total_amount from slqdf_filtered_nyc")

# Vemos los resultados
head(sql_nyc)

# Almacenamos en una vista que se llame 
createOrReplaceTempView(sql_nyc,"sql_nyc")

<HR>
<div style="font-family:helvetica;padding:5px;font-size:1.5em;background-color:#CFE7E2">Ejercicio práctico:</div>

¿Existe alguna correlación entre ``age`` y ``heartrate``?

<HR>

In [ ]:
res_heart <- sql("SELECT corr(age, heartrate) from heart")

head(res_heart)

<HR>
<div style="font-family:helvetica;padding:5px;font-size:1.5em;background-color:#CFE7E2">Ejercicio práctico:</div>

¿Cuántos individuos hay por clase y por sexo?


<HR>

In [1]:
res_heart <- sql("SELECT sex, class, count(*) from heart group by sex, class")

head(res_heart)

ERROR: Error in eval(expr, envir, enclos): no se pudo encontrar la función "sql"


<HR>
<div style="font-family:helvetica;padding:5px;font-size:1.5em;background-color:#CFE7E2">Ejercicio práctico:</div>

Selecciona todos los viajes que se hacen desde las 10 de la noche a las 6 de la mañana que tienen más de 3 pasajeros

<HR>

In [ ]:
head(filter(df_nyctrips, (hour(df_nyctrips$tpep_pickup_datetime) >=22  & hour(df_nyctrips$tpep_pickup_datetime) <= 23) | hour(df_nyctrips$tpep_pickup_datetime) >=0  & hour(df_nyctrips$tpep_pickup_datetime) <= 6  ))